body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 0;
    overflow-x: hidden;
}

.sidebar-section-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 15px;
    padding: 10px;
    font-size: 20px;
    transition: background-color 0.5s ease;
    cursor: pointer;
    text-align: start;
}

.sidebar-section-container:hover {
    background-color: #1b1b1b;
    border-radius: 30px;
}


.suggestion-box-text {
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
}

.suggestion-box-text:hover {
    background-color: #1b1b1b;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.separator {
    color: gray;
    width: fit-content;
    height: fit-content;
    font-size: 18px;
}